.music-hero {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  color: white;
}

.hero-image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4) contrast(1.2);
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.7));
}

.hero-content {
  position: relative;
  z-index: 2;
  text-align: center;
  animation: fadeIn 1.5s ease-in;
}

.hero-title {
  font-size: 4rem;
  font-family: "Ubuntu", sans-serif;
  color: var(--accent-color);
  text-shadow: 2px 2px 10px rgba(255, 255, 255, 0.1);
}

.hero-subtitle {
  font-size: 1.3rem;
  margin-top: 0.5rem;
}

.explore-btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  background-color: var(--accent-color);
  border: none;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.explore-btn:hover {
  background-color: var(--primary-color);
  transform: scale(1.05);
}
